# OS
.DS_Store
Thumbs.db

# Editors / IDEs
.vscode/
.idea/
*.swp

# Python
__pycache__/
*.py[cod]
.venv/
venv/
.env

# Node
node_modules/
npm-debug.log*
dist/
build/

# Notebooks
.ipynb_checkpoints/

# Misc
*.log
.cache/

# starter-app local databases
*.db
